.wing {
  width: 40%;
  margin: 30px auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 1px 3px #0008;
}

input {
  display: block;
  outline: none;
  border: none;
  width: 40%;
  font-size: 18px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 1px 3px #0008;
}

h2 {
  margin-top: 0;
}

@media screen and (max-width: 1200px) {
  .wing {
    width: 60%;
  }

  input {
    width: 60%;
  }
}


@media screen and (max-width: 800px) {
  .wing {
    width: calc(90% - 40px);
  }

  input {
    width: calc(90% - 40px);
  }
}

.status {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
